<div class="row">
  <div class="span6 offset3">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>User</th>
          <th>Score</th>
        </tr>
      </thead>

      <tbody>
        <% @rankings.each do |ranking| %>
          <tr>
            <td><%= link_to ranking.user.email, ranking.user %></td>
            <td><%= ranking.score %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>